@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* DataSolace Brand Colors */
  --brand-blue: #1D2D46;
  --brand-white: #F2F5F5;
  --brand-teal: #029979;
  --brand-green: #04866E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
